@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size:20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  width: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  display: none;
}

.button {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  gap:32px;
  flex-wrap: wrap;
}

.navigation-link {
  font-weight: 700;
  color:#000000;
  text-align:center;
  padding-top: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.user-list {
  display: flex;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  position: relative;
}

.user-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 160px;
}

.user-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/search.svg") no-repeat;
}

.favorit {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/heart.svg") no-repeat;
}

.favorit span {
  position: absolute;
  left: 52px;
  top: 16px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
}

/* end header */

.big-logo {
  display: flex;
  justify-content: center;
  background: url("../images/background.jpg") no-repeat;
  background-color: #e5e5e5;
  min-height: 485px;
  padding-top: 51px;
}

.advantages {
  padding-top: 70px;
}

.advantages-title {
  max-width: 730px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-text {
  text-align: center;
  max-width: 651px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12) ;
  display: flex;
}

.advantages-item:nth-child(2n+1)  {
    background-color: #82b3d3;
    color: #FFFFFF;
}

.advantages-item:nth-child(3n)  {
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
}

.advantages-item-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
  min-width: 400px;
  gap: 62px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 197px;
}

.advantages-item-text {
  text-align: center;
  max-width: 254px;
  font-size: 18px;
  line-height: 21px;
}

.features {
  padding-top: 64px;
}

.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 568px;
  margin-bottom: 20px;
}

.features-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#333333;
  margin-bottom: 64px;
}

.features-list {
  display: flex;
  text-align: center;
  padding: 81px 0;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding-top: 81px;
  padding-bottom: 81px;
  width: 400px;
}

.features-item:first-child  {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 241px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  text-align: center;
}

.hotel-search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 376px;
  border: 0;
  cursor: pointer;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  min-height: 414px;
  background: url("../images/Subscribe.jpg") repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color:#FFFFFF;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#ffffff;
  max-width: 500px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  outline: none;
}

.subscribe-email {
  min-width: 452px;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-email:focus {
  outline: none;
  box-shadow: none;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color:#ffffff;
  padding: 8px 50px;
  border: none;
}

/* End main */

.footer-page {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.footer-social_list {
  display: flex;
  gap: 15px;
}

.footer-link {
  display: block;
}

.footer-vk {
  background: url("../images/vk.svg") no-repeat;
  width: 24px;
  height: 14px;
}

.footer-tg {
  background: url("../images/telegram.svg") no-repeat;
  width: 18px;
  height: 16px;
}

.footer-youtube {
  background: url("../images/youtube.svg") no-repeat;
  width: 22px;
  height: 17px;
}

.footer-link-tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color:#000000
}

.partners-logo {
  display: block;
  background: url("../images/logo_htmlacademy.svg") no-repeat;
  width: 115px;
  height: 33px;
}


/* Catalog */

.main-catalog {
  background: url("../images/filter.jpg") repeat;
  background-color: black;
  padding-top: 45px;
  padding-bottom: 63px;
  padding-left: 70px;
  padding-right: 70px;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color:white;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: end;
  margin-bottom: 40px;
}

.breadcrumbs-item:first-child {
  display: block;
  width: 13px;
  height: 15px;
  background: url("../images/mini-home.svg") no-repeat;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  display: inline-block;
  margin: 0 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color:#ffffff;
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border:none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color:#fff;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  display: flex;
  align-items: center;
}

.control-input {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
}

.control-title {
  display: inline-block;
  margin-left: 16px;
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 32px;
  outline: none;
  border: none;
}

.catalog-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 57px;
  padding-right: 57px;
}


.filter {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.filter-buttons {
  display: flex;
  align-items: center;
}

.select-control {
  border:2px solid #E5E5E5;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  width:272px;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  margin-right: 70px  ;
}

.filter-button-column {
  display: flex;
  flex-wrap:wrap;
  max-width: 131px;
  gap:8px;
}

.filter-button {
  display: block;
  width: 16px;
  height: 14px;
  padding: 16px 17px;
  border: 2px solid #E5E5E5;
}

.filter-button:active  {
  border: 2px solid black;
}

.filter-button-list {
  background: url("../images/filter/filter-1.svg") no-repeat;
  background-position: center;

}

.filter-button-card {
  background: url("../images/filter/filter-2.svg") no-repeat;
  background-position: center;
}

.filter-button-card-sheet {
  background: url("../images/filter/filter-3.svg") no-repeat;
  background-position: center;
}

.product-list {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  padding: 20px;
  border: 1px solid #E5E5E5;
  max-width:340px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.product-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.product-column:last-child {
  margin-bottom: 0;
}

.product-card-text, .product-price {
  font-size: 18px;
  line-height: 21px;
}

.product-btn-grey {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 140px;
}

.product-btn-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  outline: none;
  min-width: 140px;
}

.product-grade {
  background: url("../images/starr.svg") no-repeat;
  width: 18px;
  height: 17px;
}

.product-btn-wht {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 140px;
  font-weight: 400;
}

.pagination {
  display: flex;
  gap:8px;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-right: 70px;
  padding-left: 70px;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: #82B3D3;
  border-radius: 4px;
  color:white;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}


/* End Catalog */
